* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

$transition: .2s;

@import "./ColorCode.scss";
@import "./Card.scss";
@import "./Pokemon.scss";

#root {
  overflow: hidden;
}
.w-35 {
  width: 35%;
}

.w-15 {
  width: 15%;
}

.pokemon-id {
  color: $transparent-black;
}

.pokemon-type {
  background-color: $transparent-white;
}