.pokemonCard {
    min-height: 11rem;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('../img/pokeball_white.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        right: -30%;
        bottom: -20%;
        opacity: .2;
    }

    &:active {
        transform: scale(.9);
        transition: $transition;
    }

    .cardContent {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    img {
        width: 40%;
        right: 0;
        bottom: 0;
        z-index: -1;

        &.img-carousel {
            width: 50%;
        }
    }
}