.pokemonPage {
    .topPage {
        height: 40vh;
    }

    .bottomPage {
        height: 60vh;
        &::before {

            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: url('../img/pokeball_white.png');
            background-position: center;
                background-size: contain;
            background-repeat: no-repeat;
            right: -30%;
            top: -80%;
            opacity: .2;
            z-index: -1;
            }
            
            .value-bar {
                animation: $transition ease-out 0s 1 valueTransition;
            }
            
            .carousel-indicators {
                transform: translateY(150%);
            
                button {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: silver;
                    margin: 0 .5rem;
                    opacity: 1;
                    position: relative;
            
                    &.active {
                        background-color: black;
            
                        &::before {
                            background-color: black;
                        }
                    }
            
                    &:before {
                        content: "";
                        width: 8px;
                        height: 8px;
                        background-color: silver;
                        border: white solid 1px;
                        border-radius: 50%;
                        position: absolute;
                        top: 6px;
                        left: 6px;
                        z-index: 1;
                    }
            
                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: white;
                        position: absolute;
                        top: 9px;
                        left: 0;
                    }
                }
            }
            
            }
            
            @keyframes valueTransition {
                0% {
                    transform: translateX(-100%);
                }
            
                100% {
                    transform: translateX(0);
        }
    }
}